* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: black;
}

h1 {
	text-align: center;
	margin-bottom: 15px;
}

h2 {
	margin-bottom: 15px;
	text-align: center;
}

h3 {
	margin-bottom: 15px;
	text-align: center;
}



.header {
	display: flex;
	justify-content: space-between;
	max-width: 1100px;
	margin: auto;
	align-items: center;
	padding: 20px;
	background-color: white;
	margin-bottom: 50px;
    padding: 1%;
}

.header img {
	max-width: 200px;
    width: 50px;
    height: 50px;
}

.header ul {
	display: flex;
	list-style: none;
	font-size: 18px;
	justify-content: space-around;
    z-index: 9;
}

.header ul li a {
	padding: 10px 20px;
	display: block;
    color: rgb(116, 116, 116);
    font-size: large;
}

.header ul li a:hover{
    color: purple;
}

.header button {
	display: none;
	padding: 10px;
}

@media (max-width: 1000px) {
	.header button {
		display: block;
	}

	.header ul {
		display: none;
		background-color: lightsteelblue;
		position: absolute;
	    width: 100%;
	    left: 0;
	    right: 0;
	    top: 119px;
	}
}
.grayBg{
	background-color: rgb(207, 207, 207);

}
.podHeader {
	display: flex;
	justify-content: space-between;
	max-width: 1100px;
	margin: auto;
	align-items: center;
	padding: 20px;
    padding: 1%;
    margin-left: 15%;
}


.podHeader ul {
	display: flex;
	list-style: none;
	font-size: 18px;
	justify-content: space-around;
    z-index: 9;
}

.podHeader ul li a {
	padding: 10px 20px;
	display: block;
    color: rgb(116, 116, 116);
    font-size: larger;
}
.podHeader ul li a:hover{
    color: purple;
}

.design{
    width: 100%;
    background-color: rgb(207, 207, 207);
    padding-bottom: 2%;
	margin-top: -0.3%;
}
.design img{
    width: 30%;
	padding: 2%;
    opacity: 0;
    margin-left: 0.5%;
    transition: all 1.5s ease;
}



.design .paragrafs{
    display: flex;
    padding: 0%;
}
.design #jedan{
    width: 30%;
    margin-left: 10%;
    font-size: larger;
    text-align: left;
}

.design #dva{
    width: 30%;
    font-size: larger;
    text-align: left;
}
.design #tri{
    width: 30%;
    font-size: larger;
    text-align: left;
}
.design #cetri{
    width: 30%;
    margin-left: 10%;
    font-size: larger;
    text-align: left;
}

.design #pet{
    width: 30%;
    font-size: larger;
    text-align: left;
}
.design #sest{
    width: 30%;
    font-size: larger;
    text-align: left;
}
.design #sedam{
    width: 30%;
    margin-left: 10%;
    font-size: larger;
    text-align: left;
}
.design #osam{
    width: 30%;
    font-size: larger;
    text-align: left;
}
.design #devet{
    width: 30%;
    font-size: larger;
    text-align: left;
}
.design #pf1{
    margin-left: 15%;
	padding-top: 2%;
	text-align: left;
    font-size: larger;
}
.diteil{
	position: relative;
}
.diteil p{
	font-size: larger;
	padding: 2%;
	margin-left: -30%;
}

.detalji{
	width: 100%;
	height: 60%;
    background-color: rgb(207, 207, 207);
	margin-top: -0.3%;
	padding-top: 2%;
	padding-bottom: 4%;
	display: flex;
	align-items: center;
	justify-content: center;
	display: flex;
}
.detalji .tekst{
	text-align: left;
	margin-left: 5%;
}
.detalji .firstPic{
    background-color: azure;
	border-color: black;
	box-shadow: 5px 10px rgb(116, 116, 116);
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	color: black;
	transition: all 1s ease;
	width: 35%;
	padding-top: 3%;
	padding-bottom: 3%;
}
.detalji .firstPic:hover
{
	margin-top: -10%;
	margin-bottom: 10%;
	transition: all 1s ease;
	margin-left: 25%;
}
.detalji .firstPic img{
    width: 90%;
	padding: 2%;
}
.detalji .firstPic .tekst{
	text-align: left;
	justify-content: left;
	font-size: large;
}

.detalji .secondtPic{
    background-color: azure;
	border-color: black;
	box-shadow: 5px 10px rgb(116, 116, 116);
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	color: black;
	transition: all 1s ease;
	margin-left: 2%;
	width: 35%;
	padding-top: 3%;
	padding-bottom: 3%;
}
.detalji .secondtPic:hover{
	margin-top: -10%;
	margin-bottom: 10%;
	margin-right: 25%;
	transition: all 1s ease;}

.detalji .secondtPic img{
	width: 90%;
	padding: 2%;
}
.detalji .secondtPic .tekst{
	text-align: left;
	justify-content: left;
	font-size: large;
}
.ABM{
	display: flex;
	background-image: url("./picture/aboutttt.jpg");
	background-size: cover;
	padding-bottom: 2%;
}
.ABM .aboutMe{
	display: none;
	text-align: left;
	width: 50%;
	height: 100%;
	background-color: rgb(207, 207, 207);
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	margin-left: 10%;
	margin-top: 5%;
	border: solid;
}
.ABM .aboutMe h1{
	padding-top: 8%;
	padding-left: 5%;
	text-align: left;
}
.ABM .aboutMe #pf1{
	padding-top: 5%;
	padding-left: 20%;
	text-align: left;
	font-size: large;
}
.ABM .aboutMe p{
	padding-top: 0.5%;
	padding-left: 5%;
	text-align: left;
	font-size: larger;
}
.ABM .aboutMe .circle1{
	background-color: white;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	margin-left: 2%;
	margin-top: -11%;
	border: solid;
}
.ABM .aboutMe .circle2{
	background-color: white;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	margin-left: 95%;
	margin-top: -3%;
	border: solid;
}

.ABM img{
	width: 20%;
	height: 30%;
	border-radius: 25px;
	margin-top: 15%;
	margin-left: -15%;
	border: solid;
}



.slider{
	-webkit-appearance: none;
	width: 10%;
	height: 15px;
	border-radius: 5px;  
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	opacity: 1;
}
  
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%; 
	background: purple;
	cursor: pointer;
}
  
.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: purple;
	cursor: pointer;
}

.tehn{
	width: 100%;
	height: 100%;
	margin-top: 4%;
	margin-bottom: 8%;
	background-color: rgb(207, 207, 207);
	display: flex;
}
.tehn .inf{
	padding: 5%;
	padding-left: 15%;
	margin-bottom: 2%;
	background-color: rgb(207, 207, 207);
	text-align: left;
	justify-content: left;
}
.tehn .inf h1{

	text-align: left;
}

.tehn .inf img{
	border-radius: 25px;
	margin-top: 15%;
}

.tehn .inf1 {
	margin-top: 8%;
	color: black;
}

.tehn .inf1 p{
	font-size: larger;
	padding-top: 15%;
	text-align: left;
}

.tehn .inf1 hr{
	width: 200%;
	height: 5px;
	background-color: black;
}

.tehn .sums
{
	width: 17%;
	text-align: right;
	margin-top: 8%;
	color: black;
}
.tehn .sums p{
	font-size: larger;
	padding-top: 19%;
}
.tehn .sums .aa{
	margin-top: 4%;
}
.tehn .inf1 button{
	border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    font-size: large;
    width: 50%;
    padding: 3%;
    background-color: rgb(207, 207, 207);
    box-shadow: 5px 10px rgb(116, 116, 116);
	margin-top: 2%;
	margin-left: 13%;
}
.tehn .inf1 button:hover{
    color: white;
    background-color: purple;
}